/Code Samples/Chapter 16/earth_quakes/data/readable_eq_data.geojson
/Code Samples/Chapter 16/fires_in_Russia/data/MODIS_C6_1_Russia_Asia_7d.csv
/Code Samples/tests.py
/Code Samples/Chapter 1 - 9/cats.txt
/Code Samples/Chapter 10/dogs.txt
/Code Samples/Chapter 10/favourite_number.json
/Code Samples/Chapter 10/guests.txt
/Code Samples/Chapter 10/guests_book.txt
/Code Samples/Chapter 10/numbers.json
/Code Samples/Chapter 10/programming.txt
/Code Samples/Chapter 10/userdata.json
